
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Hind+Siliguri:wght@300;400;500;600;700&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container1{
    max-width: 1550px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
}
a{
    font-family: Roboto;
font-weight: 400;
font-size: 15px;
color: #4C5866;
}



.text1{
    font-family: Roboto;
font-weight: 400;
font-size: 60px;
color: #4C5866;
}
.tittle1{
    font-family: Roboto;
font-weight: 400;
font-size: 18px;
color: #85859B;
margin-top: 25px;
}
.btn1{
    width: 255px;
height: 70px;
gap: 6px;
border-width: 1px;
text-align: center;
padding-top: 20px;
border: 1px solid #7875FE;
color: #7875FE;
font-family: Roboto;
font-weight: 400;
font-size: 20px;
margin-top: 25px;
}




.container2{
    margin: 0 auto;
    height: 620px;
    display: flex;
    align-items: center;
   margin-left: 150px;
}




.container3{
max-width: 1550px;
margin: 0 auto;
background: #d9d8d8;
height: 720px;
position: relative;
}
.box3{
    display: flex;
    justify-content: center;
    padding-top: 90px;
}
.tepa{
    width: 350px;
height: 118px;
border-top: 2px solid #C0C0C0;
display: flex;
gap: 20px;
padding-top: 60px;
align-items: center;
}
.tepa1{
    width: 350px;
height: 118px;
border-top: 2px solid #C0C0C0;
display: flex;
gap: 20px;
padding-top: 60px;
align-items: center;
}
.rasm{
    height: 1336px;
}
.text2{
    font-family: Roboto;
font-weight: 500;
font-size: 18px;
color: #666666;
}
.p1{
    font-family: Roboto;
font-weight: 400;
font-size: 18px;
color: #85859B;
width: 160px;
height: 54px;
}